<div class='panel panel-primary' >
    <div class='panel-body'>

        <div class='row'>
            <div class='col-md-offset-1 col-md-3'>Item:</div>
            <div class='col-md-6'><input type="text"  /></div>
        </div>
        <div class='row'>
            <div class='col-md-offset-1 col-md-3'>Notes:</div>
            <div class='col-md-6'><textarea ></textarea></div>
        </div>
        <div class='row'>
            <div class='col-md-offset-1 col-md-3'>Finished:</div>
             <div class='col-md-6'><input type="checkbox"   /></div>            
        </div>
    </div>
</div>
<div class='panel-footer'>
    <a class='btn btn-default'  style='width:80px'>
         Back
    </a>
    <a class='btn btn-default'  style='width:80px'>
         Save
    </a>
</div>